<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
	<test name="ChromeBrowserTestCases">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="test.scenarious.ProductsPageTest" />
		</classes>

	</test> <!-- Test -->
	<test name="EdgeBrowserTestCases">
		<parameter name="browserName" value="me" />
		<classes>
			<class name="test.scenarious.ProductsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> 
